//- Main app wrapper. Contains everything but the footer, since it needs to be sticky
.app-main

  header.header
    .container
      h3 App Header

  section.main
    .container
      h1 Content Area
      h2 It's where the content goes.

      p This is an app about stuff and things

  //- Used for sticky footer
  .push

//- We use the sticky footer pattern to make sure the footer is always at the bottom
footer.footer.sticky-footer
