.table-header
.members
  display table
  width 100%
  border 1px solid gray

  li
    display table-row
    &:last-child
      p
        border-bottom none

    p
      width 50%
      display table-cell
      padding 0 10px
      border-bottom 1px solid gray
      border-left 1px solid gray
      &:first-child
        border-left none

.table-header
  margin-bottom 10px
