.header
  background lighten(silver, 20%)
  padding 0
  box-shadow 0 2px 2px rgba(0,0,0,0.2)
  margin-bottom vspace * 2

.logo-area
  float left

  h3
    font-size 35px
    line-height 50px
    text-shadow 0 1px 0 white
    font-weight 200
    margin-bottom 0


.main-nav
  right-nav()


