.footer
  background lighten(silver, 20%)

.footer-logo-area
  float left

  h3
    font-size 35px
    line-height 50px
    text-shadow 0 1px 0 white
    font-weight 200
    margin-bottom 0

.footer-nav
  right-nav()
